<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Hungry Left Behind</title>
    <!-- Bootstrap -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
	<script src="js/less-1.7.5.min.js" type="text/javascript"></script> 
	<!--<link rel="stylesheet" type="text/css" href="css/compiled.css" />-->  
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
	</script>
	<![endif]-->
  </head>
  
  
  <body>
  
  <!-- header starts -->
	<div class="header-outer">
	<div class="container">
	<div class="row">
	<header>   
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="innerHeader">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<a class="navbar-brand" href="#"> <img src="/assets/logo.png" alt="Logo" /> </a>
	</div>
	<div class="navbar-right">
	<a href="#" class="red-button"> Donate &nbsp;&nbsp; leftovers </a>
	<a href="#" class="green-button"> Locate &nbsp;&nbsp;The&nbsp;&nbsp; Happiness &nbsp;&nbsp;Truck </a>
	</div>
	</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
	</header>
	</div>   
	</div>
	
	<!-- Main title starts -->
	<div class="container title-main">
		<div class="row">
			<div class="col-lg-12">
	         <h1>  Turning leftovers into happy smiles </h1>
	        </div>
		</div>
	</div>
	<!-- Main title ends -->
	
	<!-- tagline starts -->
	<div class="container banner">
		<div class="row">
			<div class="col-lg-3"></div>
            <div class="col-lg-6"> <img src="/assets/plate.png" alt="Banner"  /> </div>
			<div class="col-lg-3"></div>
			<div class="col-lg-12">
			<h2> How a small act of kindness can help create a healthier & happier world </h2>
			</div>
			<div class="clearfix"> <!-- w3c empty div validate --> </div>
			<div class="col-lg-12">
			  <span class="scroll-down"> <!-- w3c empty div validate --> </span>
			</div>
			<div class="clearfix"> <!-- w3c empty div validate --> </div>
		</div>
	</div>
	<!-- tagline ends -->
	</div>
	  <!-- header ends -->
	  
	  
	  
	<!-- panel 1 starts  -->
	<div class="panel1">  </div>

	<!-- panel 2 starts  -->
	<div class="panel2">  </div>

	<!-- panel 3 starts  -->
	<div class="panel3">  </div>
	  
	  
	  

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- script for background-size:cover property support till ie 7 -->
<script src="js/jquery.backgroundSize.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$(".header-outer, .panel1, .panel2, .panel3").css({backgroundSize: "cover"});
});
</script>
  </body>
</html>
