<!-- Google map library files -->

<!-- Google map div -->
<div style='width: 800px;'>
  <div id="feed_map" style='width: 2000px; height: 1000px;'></div>
</div>
    


<script>
		google.maps.event.addDomListener(window, "load", initializeMap(<%=raw @location_hash.to_json %>));
</script>
